{% extends "base_generic.html" %}

{% block content %}
  <section class="groups">
    <div class="container">

      <div class="bread-crumbs">
        <a href="{% url 'index' %}">Главная</a> &raquo;
        <a href="{% url 'subjects' %}">Предметы</a> &raquo;
        <a href="">{{ test}}</a>
        <span class="current-page">Ваши группы</span> 
      </div>

      <div class="groups-title">
        <h1 class="general-design">Ваши группы</h1>
      </div>  
      <!-- <h1>subject_list_all</h1> -->
      
      {% if object_list %}
      <ul class="groups-list">

        {% for group in object_list %}
        <li class="group">
          <a href="{% url 'group' pk=group.pk test_id=test_id %}">{{ group.name }}</a> 
        </li>
        {% endfor %}

      </ul>
      {% else %}
        <p>Пока за вами не закреплено ни одной группы.</p>
      {% endif %}
    </div>
  </section>
{% endblock %}